<html>
	<head>
		<title>COVID-19 · Home</title>
         <!-- google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
		<!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<!-- JavaScript Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

	</head>

	<body>
        <nav class="navbar">
            <div class="brand-title">COVID-19</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/predict">Predict</a></li>
                    <li><a href="/train">Train Model</a></li>

                </ul>
            </div>
        </nav>
        <section class = "parent-container">
            <div class="container">
                <h1 class="heading">COVID-19 TESTING USING X-RAY IMAGES</h1>
                <div class="home-page-intro">
                    <h3>Project made by :-</h3>
                    <ol class="member-list">
                        <li>Sahibjot Singh</li>
                        <li>Pranshu Aggarwal</li>
                        <li>Sikand Pal Singh</li>
                        <li>Praveen Jha</li>
                    </ol>
                    <h3>->Head over to predict page to predict result from xray image.</h3>
                    <h3>->Head over to train page if you want to train model.</h3>
                </div>
            </div>
        </section>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
	</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="{{ url_for('static',filename='scripts/scripts.js') }}"></script>

</html>
